<h1> Create a new band </h1>
<form action="<%= bands_url %>" method="post">
  <%= auth_token %>
  <label for="name"> Please enter name of the band
    <input type="text" name="band[name]" id="name">
  </label>
  <input type="submit">
</form>
